body {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    font-family: 'Raleway', sans-serif; 
    font-weight: 500;
    padding: 3rem 2vw;
    background-color: #fffeee;
}
header h1 {
    margin: 0;
    color: #293e8f;
    font-size: 3rem;
}
header p {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #293e8f;
    font-size: 1.2rem;
}

/* navigation stuff here */
nav {
    background-color: #fff581;
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #283471;
    font-weight: 700;
}

nav .active a {
    background-color: #6696c9;
    color: #fffa5f;
}
nav a:hover {
    background-color: #6696c9;
}


/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    font-family: 'Raleway', sans-serif;
    color: #6696c9;
    font-size: 2.2rem;
    margin: .5rem 0 .8rem 0;
}
main h2 {
    color: #272727;
    margin-bottom: .2rem;
}
main p {
    color: #272727;
    margin: 0 0 .8rem 0;
    line-height: 150%;
}

main ol {
    background-color: #e1e1e1;
}
main dl dt {
    color: #293e8f;
    font-weight: 700;
}
main dl dd {
    color: #5e5900;
    font-size: 1rem;
}
main ul {
    list-style-type: square;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    color: #293e8f;
}

main a {
    color: #293e8f;
}
main a:hover {
    background-color:#e1e1e1;
}

/* image stuff here */
figure.home {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}
figure.home img {
    width: 100%;
    height: auto;

}
figure.home figcaption{
    text-align: center;
    font-size: .75rem;

}


div.gallery {
    display: flex;
    flex-wrap: wrap;

}

div.gallery figure{
    margin: .5rem 2% 0 0;
}

div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    color: #6696c9;
}
/* packages stuff here */

fieldset{
    border: 1px solid #43a0b6;
    border-radius: 5px;
    margin-bottom: 2rem;
}
legend {
    color: #43a0b6;
    font-size: .8rem;
}

label {
    margin: .5rem;
}

/* form stuff here */

.myform fieldset{
    border: 1px solid #293e8f;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: #293e8f;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}
.myform label,.myform select, .myform [type=text], .myform [type=tel], .myform textarea {
    display: block;
}

.myform select, .myform [type=text], .myform [type=tel], .myform textarea {
    border: solid 1px #e2e4a4;
    padding: .3rem;
    width: 250px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.myform textarea {
    height: 6rem;
}

.myform :required{
    background-color: rgba(50, 50, 50, 0.1);
}

.myform [type=submit] {
    background-color: #43a0b6;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/* footer stuff here */
footer {
    border-top: solid #ccc 2px;
    text-align: center;
    color: #293e8f;
    font-size: .7rem;
    padding: 1rem 0;
}
footer a {
    color: #293e8f;
}